<div class="footer">
    <img src="@Model.wechat" class="dis mato">
    <p class="mt15 f16 colfff">手机扫一扫</p>
    <div class="footer_phone">
        <span class="phone_tip">服务热线</span>
        <span class="phone_text">@Model.phone</span>
    </div>
    <div class="footer_copy">
        <span>@Model.copy</span>
        <a href="http://www.beian.miit.gov.cn/" target="_blank">@Model.beian</a>
    </div>
</div>