<div class="header">
    <div class="w1200">
        <a href="/" class="logo"><img src="@Model.logo"></a>
        <div class="pc_nav nav">
            <a href="/#page1" class="hoverText guodu">关于我们</a>
            <a href="/#page2" class="hoverText guodu">产品介绍</a>
            <a href="/#page4" class="hoverText guodu">应用领域</a>
            <a href="/#page5" class="hoverText guodu">加盟/联系我们</a>
        </div>
    </div>
</div>
<div class="header_"></div>