@font-face {
  font-family: 'iconfont';  /* project id 1809262 */
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff2') format('woff2'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.load,.load1{
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}
.app_icon {
  font-family: "iconfont" !important;
  font-size: 0.32rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jinggao:before {
  content: "\e63d";
}

.icon-cuowu:before {
  content: "\e603";
}

.icon-dagou:before {
  content: "\e607";
}

.icon-dagou1:before {
  content: "\e621";
}

.icon-ziyuanldpi:before {
  content: "\e613";
}

.yr_app{
	overflow: hidden;
	position: fixed;
	z-index: 1000;
	background-color: #fff;
}
.yr_app_layout{
	width: 5.8rem;
	left: 0;right: 0;
	margin: auto;
	font-size: 0.16rem;
	text-align: center;
	border-radius: 0.1rem;
	overflow: hidden;
	z-index: 99999;
}
.yr_app_title{
	font-size: 0.28rem;
	color: #000;
	padding-top: 0.4rem;
	/* border-bottom: 1px solid #E5E5E5; */
}
.yr_app_alert{
	font-size: 0.26rem;
	line-height: 1.8;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	color: #555555;
}
.yr_mack{
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
}
.yr_mack.hide{display: none;}
.yr_mack.show{display: block;}
.yr_app_btnBox{
	display: flex;
	border-top: 1px solid #E5E5E5;
	align-items: center;
}
.mack{
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}
.yr_app_btnBox button{
	background-color: #fff;
	line-height: 0.9rem;
	text-align: center;
	font-size: 0.28rem;
	border: none;
	width: 100%;
	position: relative;
	cursor: pointer;
}
.yr_app_btnBox .yr_btnStyle1{
	color: #ACACAC;
}
.yr_app_btnBox .yr_btnStyle2{
	color: #1073EC;
}
.yr_app_content{
	font-size: 0.32rem;
	color: #555555;
	padding-top: 0.4rem;
	padding-bottom: 0.4rem;
	box-sizing: border-box;
	padding-right: 0.15rem;
	padding-left: 0.15rem;
}
.yr_app_btnBox button+button::after{
	content: '';
	display: block;
	width: 1px;
	height: 100%;
	background-color: #EEEEEE;
	position: absolute;
	left: 0;
	top: 0;
}
.yr_app_showToast{
	background-color: rgba(0,0,0,0.6);
	border-radius: 0.08rem;
	overflow: hidden;
	padding: 0.1rem 0.1rem;
	box-sizing: border-box;
	max-width: 3.5rem;
	min-width: 2rem;
	z-index: 1002;
	text-align: center;
}
.yr_showToast_title{
	color: #FFFFFF;
	font-size: 0.28rem;
	padding-left: 0.15rem;
	padding-right: 0.15rem;
}
.yr_app_showToast .app_icon{
	font-size: 0.9rem;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}
.yr_picker{
	width: 100%;
	z-index: 1000;
	background-color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	border-radius: 0.1rem 0.1rem 0 0;
	overflow: hidden;
	height: 6rem;
	text-align: center;
	font-size: 0.3rem;
}
.yr_picker .yr_picker_header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #EEEEEE;
}
.yr_picker .yr_picker_header .yr_picker_title{
	line-height: 1rem;
}
.yr_picker .yr_picker_header .yr_picker_close{
	padding-left: 0.2rem;
	box-sizing: border-box;
	color: #ccc;	
}
.yr_picker .yr_picker_header .yr_picker_ok{
	padding-right: 0.2rem;
	box-sizing: border-box;
	color: #0164DE;
}
.yr_picker .yr_picker_content{
	height: 5rem;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}
.yr_picker_content .yr_picker_content_after{
	display: block;
	height: 50px;
	top: 0;bottom: 0;
	width: 100%;
	left: 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	box-sizing: border-box;
	margin: auto;
	position: absolute;
}
.yr_picker_content .swiper-slide{
	font-size: 0.3rem;
}
.yr_picker_content .swiper-slide.swiper-slide-active{
	color: #0164DE;
}
.yr_picker_content .swiper-container{
	width: 33.3333%;
	float: left;
	height: 100%;
}
.yr_picker{
	transform:translateY(120%);
	-ms-transform:translateY(120%);
	-moz-transform:translateY(120%);
	-webkit-transform:translateY(120%);
	-o-transform:translateY(120%);
	transition:ease-in-out .6s;
	-moz-transition:ease-in-out .6s;
	-webkit-transition:ease-in-out .6s;
	-o-transition:ease-in-out .6s;
}
.yr_picker.open{
	transform:none;
	-ms-transform:none; 
	-moz-transform:none; 
	-webkit-transform:none; 
	-o-transform:none;
}
.yr_showLoading{
	width: 2rem;
	z-index: 99999;
	position: fixed;
	background-color: rgba(0,0,0,0.6);
	border-radius: 0.06rem;
	text-align: center;
	padding-bottom: 0.2rem;
	padding-top: 0.1rem;
}
.pswp{display:none;position:absolute;width:100%;height:100%;left:0;top:0;overflow:hidden;-ms-touch-action:none;touch-action:none;z-index:1500;-webkit-text-size-adjust:100%;-webkit-backface-visibility:hidden;outline:0}.pswp *{-webkit-box-sizing:border-box;box-sizing:border-box}.pswp img{max-width:none}.pswp--animate_opacity{opacity:.001;will-change:opacity;-webkit-transition:opacity 333ms cubic-bezier(0.4,0,0.22,1);transition:opacity 333ms cubic-bezier(0.4,0,0.22,1)}.pswp--open{display:block}.pswp--zoom-allowed .pswp__img{cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.pswp--zoomed-in .pswp__img{cursor:-webkit-grab;cursor:-moz-grab;cursor:grab}.pswp--dragging .pswp__img{cursor:-webkit-grabbing;cursor:-moz-grabbing;cursor:grabbing}.pswp__bg{position:absolute;left:0;top:0;width:100%;height:100%;background:#000;opacity:0;-webkit-transform:translateZ(0);transform:translateZ(0);-webkit-backface-visibility:hidden;will-change:opacity}.pswp__scroll-wrap{position:absolute;left:0;top:0;width:100%;height:100%;overflow:hidden}.pswp__container,.pswp__zoom-wrap{-ms-touch-action:none;touch-action:none;position:absolute;left:0;right:0;top:0;bottom:0}.pswp__container,.pswp__img{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}.pswp__zoom-wrap{position:absolute;width:100%;-webkit-transform-origin:left top;-ms-transform-origin:left top;transform-origin:left top;-webkit-transition:-webkit-transform 333ms cubic-bezier(0.4,0,0.22,1);transition:transform 333ms cubic-bezier(0.4,0,0.22,1)}.pswp__bg{will-change:opacity;-webkit-transition:opacity 333ms cubic-bezier(0.4,0,0.22,1);transition:opacity 333ms cubic-bezier(0.4,0,0.22,1)}.pswp--animated-in .pswp__bg,.pswp--animated-in .pswp__zoom-wrap{-webkit-transition:none;transition:none}.pswp__container,.pswp__zoom-wrap{-webkit-backface-visibility:hidden}.pswp__item{position:absolute;left:0;right:0;top:0;bottom:0;overflow:hidden}.pswp__img{position:absolute;width:auto;height:auto;top:0;left:0}.pswp__img--placeholder{-webkit-backface-visibility:hidden}.pswp__img--placeholder--blank{background:#222}.pswp--ie .pswp__img{width:100%!important;height:auto!important;left:0;top:0}.pswp__error-msg{position:absolute;left:0;top:50%;width:100%;text-align:center;font-size:14px;line-height:16px;margin-top:-8px;color:#CCC}.pswp__error-msg a{color:#CCC;text-decoration:underline}.pswp__button{width:44px;height:44px;position:relative;background:0;cursor:pointer;overflow:visible;-webkit-appearance:none;display:block;border:0;padding:0;margin:0;float:right;opacity:.75;-webkit-transition:opacity .2s;transition:opacity .2s;-webkit-box-shadow:none;box-shadow:none}.pswp__button:focus,.pswp__button:hover{opacity:1}.pswp__button:active{outline:0;opacity:.9}.pswp__button::-moz-focus-inner{padding:0;border:0}.pswp__ui--over-close .pswp__button--close{opacity:1}.pswp__button,.pswp__button--arrow--left:before,.pswp__button--arrow--right:before{background:url(default-skin.png) 0 0 no-repeat;background-size:264px 88px;width:44px;height:44px}@media(-webkit-min-device-pixel-ratio:1.1),(-webkit-min-device-pixel-ratio:1.09375),(min-resolution:105dpi),(min-resolution:1.1dppx){.pswp--svg .pswp__button,.pswp--svg .pswp__button--arrow--left:before,.pswp--svg .pswp__button--arrow--right:before{background-image:url(default-skin.svg)}.pswp--svg .pswp__button--arrow--left,.pswp--svg .pswp__button--arrow--right{background:0}}.pswp__button--close{background-position:0 -44px}.pswp__button--share{background-position:-44px -44px}.pswp__button--fs{display:none}.pswp--supports-fs .pswp__button--fs{display:block}.pswp--fs .pswp__button--fs{background-position:-44px 0}.pswp__button--zoom{display:none;background-position:-88px 0}.pswp--zoom-allowed .pswp__button--zoom{display:block}.pswp--zoomed-in .pswp__button--zoom{background-position:-132px 0}.pswp--touch .pswp__button--arrow--left,.pswp--touch .pswp__button--arrow--right{visibility:hidden}.pswp__button--arrow--left,.pswp__button--arrow--right{background:0;top:50%;margin-top:-50px;width:70px;height:100px;position:absolute}.pswp__button--arrow--left{left:0}.pswp__button--arrow--right{right:0}.pswp__button--arrow--left:before,.pswp__button--arrow--right:before{content:'';top:35px;background-color:rgba(0,0,0,0.3);height:30px;width:32px;position:absolute}.pswp__button--arrow--left:before{left:6px;background-position:-138px -44px}.pswp__button--arrow--right:before{right:6px;background-position:-94px -44px}.pswp__counter,.pswp__share-modal{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.pswp__share-modal{display:block;background:rgba(0,0,0,0.5);width:100%;height:100%;top:0;left:0;padding:10px;position:absolute;z-index:1600;opacity:0;-webkit-transition:opacity .25s ease-out;transition:opacity .25s ease-out;-webkit-backface-visibility:hidden;will-change:opacity}.pswp__share-modal--hidden{display:none}.pswp__share-tooltip{z-index:1620;position:absolute;background:#FFF;top:56px;border-radius:2px;display:block;width:auto;right:44px;-webkit-box-shadow:0 2px 5px rgba(0,0,0,0.25);box-shadow:0 2px 5px rgba(0,0,0,0.25);-webkit-transform:translateY(6px);-ms-transform:translateY(6px);transform:translateY(6px);-webkit-transition:-webkit-transform .25s;transition:transform .25s;-webkit-backface-visibility:hidden;will-change:transform}.pswp__share-tooltip a{display:block;padding:8px 12px;color:#000;text-decoration:none;font-size:14px;line-height:18px}.pswp__share-tooltip a:hover{text-decoration:none;color:#000}.pswp__share-tooltip a:first-child{border-radius:2px 2px 0 0}.pswp__share-tooltip a:last-child{border-radius:0 0 2px 2px}.pswp__share-modal--fade-in{opacity:1}.pswp__share-modal--fade-in .pswp__share-tooltip{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}.pswp--touch .pswp__share-tooltip a{padding:16px 12px}a.pswp__share--facebook:before{content:'';display:block;width:0;height:0;position:absolute;top:-12px;right:15px;border:6px solid transparent;border-bottom-color:#FFF;-webkit-pointer-events:none;-moz-pointer-events:none;pointer-events:none}a.pswp__share--facebook:hover{background:#3e5c9a;color:#FFF}a.pswp__share--facebook:hover:before{border-bottom-color:#3e5c9a}a.pswp__share--twitter:hover{background:#55acee;color:#FFF}a.pswp__share--pinterest:hover{background:#CCC;color:#ce272d}a.pswp__share--download:hover{background:#DDD}.pswp__counter{position:absolute;left:0;top:0;height:44px;font-size:13px;line-height:44px;color:#FFF;opacity:.75;padding:0 10px}.pswp__caption{position:absolute;left:0;bottom:0;width:100%;min-height:44px}.pswp__caption small{font-size:11px;color:#BBB}.pswp__caption__center{text-align:left;max-width:420px;margin:0 auto;font-size:13px;padding:10px;line-height:20px;color:#CCC}.pswp__caption--empty{display:none}.pswp__caption--fake{visibility:hidden}.pswp__preloader{width:44px;height:44px;position:absolute;top:0;left:50%;margin-left:-22px;opacity:0;-webkit-transition:opacity .25s ease-out;transition:opacity .25s ease-out;will-change:opacity;direction:ltr}.pswp__preloader__icn{width:20px;height:20px;margin:12px}.pswp__preloader--active{opacity:1}.pswp__preloader--active .pswp__preloader__icn{background:url(preloader.gif) 0 0 no-repeat}.pswp--css_animation .pswp__preloader--active{opacity:1}.pswp--css_animation .pswp__preloader--active .pswp__preloader__icn{-webkit-animation:clockwise 500ms linear infinite;animation:clockwise 500ms linear infinite}.pswp--css_animation .pswp__preloader--active .pswp__preloader__donut{-webkit-animation:donut-rotate 1000ms cubic-bezier(0.4,0,0.22,1) infinite;animation:donut-rotate 1000ms cubic-bezier(0.4,0,0.22,1) infinite}.pswp--css_animation .pswp__preloader__icn{background:0;opacity:.75;width:14px;height:14px;position:absolute;left:15px;top:15px;margin:0}.pswp--css_animation .pswp__preloader__cut{position:relative;width:7px;height:14px;overflow:hidden}.pswp--css_animation .pswp__preloader__donut{-webkit-box-sizing:border-box;box-sizing:border-box;width:14px;height:14px;border:2px solid #FFF;border-radius:50%;border-left-color:transparent;border-bottom-color:transparent;position:absolute;top:0;left:0;background:0;margin:0}@media screen and (max-width:1024px){.pswp__preloader{position:relative;left:auto;top:auto;margin:0;float:right}}@-webkit-keyframes clockwise{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes clockwise{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@-webkit-keyframes donut-rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}50%{-webkit-transform:rotate(-140deg);transform:rotate(-140deg)}100%{-webkit-transform:rotate(0);transform:rotate(0)}}@keyframes donut-rotate{0%{-webkit-transform:rotate(0);transform:rotate(0)}50%{-webkit-transform:rotate(-140deg);transform:rotate(-140deg)}100%{-webkit-transform:rotate(0);transform:rotate(0)}}.pswp__ui{-webkit-font-smoothing:auto;visibility:visible;opacity:1;z-index:1550}.pswp__top-bar{position:absolute;left:0;top:0;height:44px;width:100%}.pswp__caption,.pswp__top-bar,.pswp--has_mouse .pswp__button--arrow--left,.pswp--has_mouse .pswp__button--arrow--right{-webkit-backface-visibility:hidden;will-change:opacity;-webkit-transition:opacity 333ms cubic-bezier(0.4,0,0.22,1);transition:opacity 333ms cubic-bezier(0.4,0,0.22,1)}.pswp--has_mouse .pswp__button--arrow--left,.pswp--has_mouse .pswp__button--arrow--right{visibility:visible}.pswp__top-bar,.pswp__caption{background-color:rgba(0,0,0,0.5)}.pswp__ui--fit .pswp__top-bar,.pswp__ui--fit .pswp__caption{background-color:rgba(0,0,0,0.3)}.pswp__ui--idle .pswp__top-bar{opacity:0}.pswp__ui--idle .pswp__button--arrow--left,.pswp__ui--idle .pswp__button--arrow--right{opacity:0}.pswp__ui--hidden .pswp__top-bar,.pswp__ui--hidden .pswp__caption,.pswp__ui--hidden .pswp__button--arrow--left,.pswp__ui--hidden .pswp__button--arrow--right{opacity:.001}.pswp__ui--one-slide .pswp__button--arrow--left,.pswp__ui--one-slide .pswp__button--arrow--right,.pswp__ui--one-slide .pswp__counter{display:none}.pswp__element--disabled{display:none!important}.pswp--minimal--dark .pswp__top-bar{background:0}
.yrani{-webkit-animation-fill-mode: both;animation-fill-mode: both;-webkit-animation-duration: .3s;animation-duration: .3s;}
.yrani1{-webkit-animation-fill-mode: both;animation-fill-mode: both;-webkit-animation-duration: .6s;animation-duration: .6s;}
.yrfadeIn{animation-name: yrfadeIn;-webkit-animation-name:yrfadeIn;}
.yrfadeOut{animation-name: yrfadeOut;-webkit-animation-name:yrfadeOut;}
.yrzoomIn{animation-name: yrzoomIn;-webkit-animation-name:yrzoomIn;}
.yrzoomOut{animation-name: yrzoomOut;-webkit-animation-name:yrzoomOut;}
.fadeInUp_qs100{animation-name: fadeInUp_qs100;-webkit-animation-name:fadeInUp_qs100;}
.fadeInRight_qs100{animation-name: fadeInRight_qs100;-webkit-animation-name:fadeInRight_qs100;}
@-webkit-keyframes yrfadeIn {0% {opacity: 0;}100% {opacity: 1;}}
@keyframes yrfadeIn {0% {opacity: 0;}100% {opacity: 1;}}
@-webkit-keyframes rotate {0% {transform:rotate(0)}100% {transform:rotate(360deg)}}
@keyframes rotate {0% {transform:rotate(0)}100% {transform:rotate(360deg)}}
@-webkit-keyframes fadeInUp_qs100 {from {opacity: 0;-webkit-transform: translate3d(0px, 100px, 0)}to {opacity: 1;-webkit-transform: none}}
@keyframes fadeInUp_qs100 {from {opacity: 0;transform: translate3d(0px, 100px, 0)}to {opacity: 1;transform: none}}
@-webkit-keyframes fadeInRight_qs100 {from {opacity: 0;-webkit-transform: translate3d(100px, 0, 0)}to {opacity: 1;-webkit-transform: none}}
@keyframes fadeInRight_qs100 {from {opacity: 0;transform: translate3d(100px, 0, 0)}to {opacity: 1;transform: none}}
@-webkit-keyframes yrfadeOut {0% {opacity: 1;}100% {opacity: 0;}}
@keyframes yrfadeOut {0% {opacity: 1;}100% {opacity: 0;}}
@-webkit-keyframes yrzoomIn {0% {transform: scale(.95) translateZ(1px);}100% {transform: scale(1) translateZ(1px);}}
@keyframes yrzoomIn {0% {transform: scale(.95) translateZ(1px);}100% {transform: scale(1) translateZ(1px);}}
@-webkit-keyframes yrzoomOut {0% {transform: scale(1) translateZ(1px);}100% {transform: scale(.95) translateZ(1px);}}
@keyframes yrzoomOut {0% {transform: scale(1) translateZ(1px);}100% {transform: scale(.95) translateZ(1px);}}

.loadMack{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.yr_notifi{
	background-color: #fff;
	width: 320px;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
	border-radius: 8px;
	box-sizing: border-box;
	position: fixed;
	right: 10px;
	transition:top .3s;
	-moz-transition:top .3s;
	-webkit-transition:top .3s;
	-o-transition:top .3s;
}
.yr_notifi_body{
	box-sizing: border-box;
	padding:15px 20px;
}
.yr_notifi_title{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #303133;
}
.yr_notifi_text{
	font-size: 13px;
}
.yr_notifi_icon{
	position: absolute;
	z-index: 9;
	top: 0;
	right: 0;
	padding: 10px;
	font-size: 16px;
	color: #303133;
	cursor: pointer;
}
.yr_notifi_icon:hover{color: #333;}
.yr_notifi.successicon,.yr_notifi.erroricon,.yr_notifi.infoicon{
	box-sizing: border-box;
	padding-left: 17px;
}
.yr_notifi.successicon::after{
	content: '\e621';
	font-family: "iconfont" !important;
	font-size: 24px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #67C23A;
	position: absolute;
	top: 18px;
	left: 9px;
}
.yr_notifi.successicon .yr_notifi_title{color: #67C23A;}
.yr_notifi.erroricon::after{
	content: '\e603';
	font-family: "iconfont" !important;
	font-size: 24px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #F56C6C;
	position: absolute;
	top: 18px;
	left: 9px;
}
.yr_notifi.erroricon .yr_notifi_title{color: #F56C6C;}
.yr_notifi.infoicon::after{
	content: '\e63d';
	font-family: "iconfont" !important;
	font-size: 24px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #E6A23C;
	position: absolute;
	top: 18px;
	left: 9px;
}
.yr_notifi.infoicon .yr_notifi_title{color: #E6A23C;}